{% extends 'base_rh/base_rh.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/register/js/register.js"></script>
    {# <script type="text/javascript" src="/static/register/js/register_api_mock.js.js"></script> #}

    <script type="text/javascript">

     var rest = angular.module('rest', []);
        rest.factory('RegisterApi', function($http){
            return {
                salvar: function(register){
                    return $http.post('{{ rest_new_path }}', register);
                }
            };
        });

        var registerApp = angular.module('registerApp', ['registerModulo']);
        function RegisterController($scope){
            $scope.registrar = {nome: '', sobreNome: '', endereco: '', email: ''}
            $scope.mostrarFormFlag = false;
            $scope.registerLista={{ user_lista | safe }};

            $scope.mostrarOuEsconderForm = function(){
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag
            }


        }

    </script>

{% endblock %}
{% block selecao %}
    {{ select_tab('REGISTER')}}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
	<div class="col-md-12 column" ng-app="registerApp" ng-controller="RegisterController">
	<div class="well">
	    <h3>Registro de Usuário</h3>
	    <button class="btn btn-success" ng-click="mostrarOuEsconderForm()">Criar novo Usuário</button>

	    <br />
	    <br />

	    <registerform ng-show="mostrarFormFlag" register="registrar" nome-label="Nome:" sobre-nome-label="Sobre nome:" endereco-label="Endereço:" email-label="Email:"></registerform>

	    <table class="table">
	        <thead>
	        <tr>
	            <th></th>
	            <th>id</th>
	            <th>Nome</th>
	            <th>Sobre Nome</th>
	            <th>Email</th>
            </tr>
            </thead>
            <tbody>
                <tr registerlinha ng-repeat="r in registerLista" register="r"></tr>
            </tbody>
	    </table>


	</div>
	</div>
	</div>
	</div>
{% endblock %}